#fixed-header
  .container-fluid
    .row
      .col-xs-2
        h3 Quizify
      .col-xs-2.col-xs-push-8
        a(href="/userpage")
          img(src="../images/profile27.png", alt="logo")
          p= user.name
