#fixed-menu
  ul.menu
    li 
      a(href="/quizpage") Graj
    li 
      a(href="/userpage/archives") Aktywność
    li 
      a(href="/userpage/profile") Profil
    li 
      a(href="/addquiz")  Dodaj Quiz
    li 
      a(href="/userpage/settings")  Ustawienia
    li 
      a(href="/logout") Wyloguj
