extends layout

block content
  #index
    .container
      h1= title
      -if(errorArray !== undefined ) 
        .error-holder
          ul
            li= errorArray
      form(method="post",action="/")            
        .inputs-log
          .row
            input(type="hidden", name="_csrf", value=csrfToken)
            label.col-sm-4.col-sm-push-2.col-xs-4.col-xs-push-2 Nazwa:
            input(type="text", name="user").log.col-sm-4.col-sm-push-2.col-xs-4.col-xs-push-2
          .row
            label.col-sm-4.col-sm-push-2.col-xs-4.col-xs-push-2 Hasło:
            input(type="password", name="pass").log.col-sm-4.col-sm-push-2.col-xs-4.col-xs-push-2
        .row
          input(type="submit", value="loguj").log-button

  
