doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(language="JavaScript", type="text/javascript", src="//code.jquery.com/jquery-1.11.3.min.js")
    script(language="JavaScript", type="text/javascript", src="/javascripts/function.js")
    script(language="JavaScript", type="text/javascript", src="/javascripts/JQfunctions.js")
  body
    block content
    
    footer
      -if(global.CurrentUser == undefined ) 
        a(href="/register") Register
      -else
        a(href="/userpage") Userpage

      
